.footer {
	display: flex;
	font-family: bebasneue;
	width: 100%;
	background: #464159;
	Height: 100px;
}

.footerbig {
	margin-top:-35px;
  height: 100px;
  color: #c7f0db;
  font-size: 350%;
  text-decoration: none;
  float: left;
  max-height: auto;
}

.footernav {
  margin-top: 13px;
  float: right;
}

.footernav li {
  float: left;
  font-size: 40px;
  color: #c7f0db;
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: #c7f0db;
}