html {
    width:100%;
    height: auto;
    margin:0;
    padding:0;
}

@font-face{
	font-family: bebasneue; src: url("../font/BebasNeue.otf");
}

@font-face {
	font-family: caviardreams; src: url("../font/CaviarDreams.ttf");
}

.img-src {
    background-image: url('../images/avi.png');
    position: fixed;
    background-position: center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.blurred-img {
    background-image: url('../images/avi2.png') ;
    position: fixed;
    background-position: center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
}

.header {
    float: right;
    width: 650px;
    height: auto;
}

.header h1 {
    margin: 0px;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    float: right;
    text-align: right;
    font-size: 100px;
    font-family: bebasneue;
    background-color: #5d54a4;
    color: #d789d7;
}

.spacer {
    display: inline-block;
    height: 500px;
    width: 100%;
}

.contentLeft {
    background-color: #d789d7;
    color: #5d54a4;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
    width: 900px;
    text-align: right;
    font-family: bebasneue;
    z-index: 2;
}

.contentLeft h1 {
    font-size: 100px;
    width: 100%;
    height: 100%;
    position: relative;
    top: -35px;
    left: 4%;
    margin: 0px;
}

.contentLeft p {
    font-size: 30px;
    float: right;
    padding-right: 20px;
    margin: 0px;
    font-family: caviardreams;
    color: #2a3d66;
    position: relative;
    top: -50px;
    left: 0px;
}

@media (max-width: 1000px) {

    .img-src {
        background-image: url(../images/aviMobile.png);
    }

    .blurred-img {
        background-image: url(../images/aviMobile2.png);
    }

    .header { 
        width: 100%;
    }

    .contentLeft {
        width: 100%;
        text-align: center;
    }
}