html {
    width:100%;
    height: auto;
    margin:0;
    padding:0;
}

@font-face{
	font-family: bebasneue; src: url("../font/BebasNeue.otf");
}

@font-face {
	font-family: caviardreams; src: url("../font/CaviarDreams.ttf");
}

.img-src {
    position: fixed;
    background-position: center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.blurred-img {
    position: fixed;
    background-position: center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
}

body { 

}

.container {
	
}

.vcontainer {
	
}

.header {
    float: right;
    width: 650px;
    height: auto;
}

    .header h1 {
        margin: 0px;
        display: block;
        padding-right: 20px;
        padding-left: 20px;
        float: right;
        text-align: right;
        font-size: 100px;
        font-family: bebasneue;
        background-color: #5d54a4;
        color: #d789d7;
    }

.spacer {
    display: inline-block;
    height: 500px;
    width: 100%;
}