@font-face{
	font-family: bahnschrift; src: url("../font/BAHNSCHRIFT.TTF");
}

body {
    margin: 0px;
    background-color: #241d37;
}

.banner {
    background-image: url(../img/banner.png);
    background-size: contain;
    width: 99vw;
    height: 75vw;
    max-width: 100%;
    background-repeat: no-repeat;
}

.banner img {
    display: none;
    position: absolute;
    width: 30vw;
}

.banner h1 {
    display: none;
    float: right;
    width: 50vw;
    padding-right: 3vw;
    
    font-family: bahnschrift;
    font-weight: bold;
    font-stretch: ultra-condensed;
    font-style: italic;
    font-size: 7.5vw;
    color: #fd3ad2;
    text-align: right;
}

.content {
    margin: 0px;
    color: #fd3ad2;
    text-align: right;
    padding-right: 3vw;
}

.content h1 {
    margin: 0px;
    font-family: bahnschrift;
    font-weight: bold;
    font-stretch: ultra-condensed;
    font-style: italic;
    font-size: 8vw;
}

.content p {
    font-family: bahnschrift;
    font-weight: 100;
    font-size: 4vw;
    margin: 0px;
    color: #9b3dff;
    text-align: right;
}

@media (max-width: 1000px) {
    .banner {
        background-image: url(../img/mobilebanner.png);
        max-height: 5627px;
        width: 100vw;
        height: 150vw;
    }

    .banner h1 {
        padding-top: 26vw;
        font-size: 10vw;
        width: 62vw;
    }

    .banner img {
        padding-top: 2vw;
        padding-left: 3vw;
        width: 45vw;
    }
}