html {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

@font-face{
	font-family: bebasneue; src: url("../font/BebasNeue.otf");
}

@font-face {
	font-family: caviardreams; src: url("../font/CaviarDreams.ttf");
}

body {
    width: 100%;
    margin: 0px;
    text-shadow: 2px 2px 6px #d88fd8;
}

.img-src {
    background-image: url('../images/bg/avi3.png');
    position: fixed;
    background-position: center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.blurred-img {
    background-image: url('../images/bg/avi4.png') ;
    position: fixed;
    background-position: center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
}

.header {
    float: right;
    width: 80vw;
    height: auto;
}

.header h1 {
    margin: 0px;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    float: right;
    text-align: right;
    font-size: 8vw;
    font-family: bebasneue;
    color: #d88fd8;
}

.spacer {
    display: inline-block;
    height: 200px;
    width: 100%;
}

.contentLeft {
    background-color: #2a3d66d4;
    color: #d88fd8;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: 50vw;
    text-align: right;
    font-family: bebasneue;
    z-index: 2;
}

.contentLeft h1 {
    box-shadow: 10px;
    color: #d789d7;
    font-size: 100px;
    width: 100%;
    height: 100%;
    position: relative;
    top: -45px;
    left: 9%;
    margin: 0px;
}

.contentLeft p {
    font-size: 30px;
    float: right;
    padding-right: 20px;
    margin: 0px;
    font-family: caviardreams;
    font-weight: bold;
    font-style: italic;
    position: relative;
    top: -50px;
    left: 0px;
}

.contentRight {
    background-color: #2a3d66d4;
    color: #d88fd8;
    float: right;
    position: relative;
    top: 0px;
    right: 0px;
    margin-left: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    font-family: bebasneue;
    z-index: 2;
}

.contentRight h1 {
    box-shadow: 10px;
    color: #d88fd8;
    font-size: 100px;
    width: 100%;
    height: 100%;
    position: relative;
    top: -45px;
    right: 9%;
    margin: 0px;
}

.contentRight p {
    font-size: 30px;
    float: left;
    padding-left: 20px;
    margin: 0px;
    font-family: caviardreams;
    font-weight: bold;
    font-style: italic;
    position: relative;
    top: -50px;
    left: 0px;
}

.container {
    position: relative;
    width: 80%;
}

.buttonsContainer {
    float: right;
    display: flex;
    align-items: flex-end;
    position: relative;
    padding-bottom: 10px;
    margin-right: -500px;
}

.buttonsContainer button {
    background-color: transparent;
    color: #d88fd8;
    text-shadow: 2px 2px 6px #d88fd8;
    border: none;
    width: 100px;
    padding-bottom: 3px;
    font-family: caviardreams;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.buttonsContainer button:hover {
    background-color: #5d54a4;
    transition: .5s;
}

.portFlex {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
    float:  right;
    margin-bottom: -120px;
    margin-right: -90px;
}

.contentRight .portFlex {
    float: left;
    margin-left: -70px;
    margin-top: 2px;
}

.portFlex img {
    position: relative;
    width: 100%;
    top: -70px;
}

.arrow {
    position: absolute;
    display: hidden;
    margin-left: 160vw;
}

@media (max-width: 1000px) {

    .img-src {
        background-image: url(../images/mobilebg/avimobile.png);
    }

    .blurred-img {
        background-image: url(../images/mobilebg/avimobile2.png);
    }

    .header h1{ 
        font-size: 12vw;
    }

    .contentLeft {
        width: 100%;
        text-align: center;
    }

    .contentRight {
        width: 100%;
        text-align: center;
    }

    .arrow {
        margin-left: 60vw;
        transition: 1s;
    }
}